<div class="h-[10vh] bg-white flex items-center justify-evenly w-[100vw]">
  <img src="logo.svg" alt="Flipcart" />
  <div
    class="w-[40vw] bg-gray-200 h-[60%] flex items-center justify-evenly rounded-md"
  >
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text " class="w-[90%] bg-gray-200 h-full outline-none" />
  </div>
  <div class="flex items-center">
    <i class="fa-regular fa-user"></i>
    <p>Login</p>
  </div>
  <div class="flex items-center">
    <i class="fa-solid fa-cart-shopping"></i>
    <p>Cart</p>
  </div>
  <div class="flex items-center">
    <i class="fa-solid fa-store"></i>
    <p>Become a seller</p>
  </div>
  <i class="fa-solid fa-ellipsis-vertical"></i>
</div>
